

@import "css/reset.css";
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: #020031;
    background-image: url("../img/bg_01.png");
    background-origin: padding-box;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    padding: 40px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
body {
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    table-layout: fixed;
    top: 0;
    width: 100%;
}
section#box {
    display: table-cell;
    position: relative;
    top: -20px;
    vertical-align: middle;
    width: 100%;
}
div.container-fluid header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: whitesmoke;
    background-image: url("../img/logo.png");
    background-origin: padding-box;
    background-position: 220px -1px;
    background-repeat: repeat;
    background-size: cover;
    margin: -1px -20px 0;
    padding: 48px 0 31px;
}
.container-fluid {
    background: none repeat scroll 0 0 rgba(163, 200, 235, 0.83);
    display: inline-block;
}
form.bs-docs-example {
    padding-top: 30px;
}
article#form h1 {
    color: black;
    font: 34px/48px 'bebas-neue',Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
section#social {
    padding-bottom: 12px;
}
span.title {
    color: black;
    font-family: Gabriola;
    font-size: 40px;
    left: auto;
    margin-left: 35px;
    position: relative;
}
button.btn.btn-primary {
    background-color: rgba(232, 232, 232, 0.5);
    background-image: -moz-radial-gradient(center center , circle farthest-corner, rgba(232, 232, 232, 0.5), #C9C9C9 38px);
    border-radius: 50px 50px 50px 50px;
}
button.btn:hover {
    background-position: 0 center;
}
input.text {
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 1px 1px rgba(48, 48, 48, 0.49) inset;
}
a {
    text-decoration: underline;
}
