@import "css/reset.css";
body {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: #020031;
    background-image: url("../img/bg_01.png");
    background-origin: padding-box;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: human 18s 0s cubic-bezier(0.5, 0.49, 0.46, 0.71) both infinite;
    animation: human 18s 0s cubic-bezier(0.5, 0.49, 0.46, 0.71) both infinite;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
    color: #FFFFFF;
    padding: 40px 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
    display: table;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    table-layout: fixed;
    top: 0;
    width: 100%;
}

       
section#box {
    display: table-cell;
    position: relative;
    top: -20px;
    vertical-align: middle;
    width: 100%;
}

div.container-fluid header {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: whitesmoke;
    background-image: url("../img/logo.png");
    background-origin: padding-box;
    background-position: 265px -1px;
    background-repeat: repeat;
    background-size: cover;
    border-radius: 2px;
    margin: -1px -20px 0;
    padding: 48px 0 31px;
}
.container-fluid {
    background: none repeat scroll 0 0 rgba(163, 200, 235, 0.83);
    display: inline-block;
    border-radius: 2px;
}
article#ready p{
line-height: 20px;
width: 30em;
}
article#ready h2{
    width: 14em;
    line-height: 60px;
    font-size: 22px;
}

form.bs-docs-example {
    padding-top: 30px;
}
article#form h1 {
    color: black;
    font: 34px/48px 'bebas-neue',Arial,Helvetica,sans-serif;
    text-transform: uppercase;
}
section#social {
    padding-bottom: 12px;
}
span.title {
    color: black;
    font-family: Gabriola;
    font-size: 40px;
    left: auto;
    margin-left: 60px;
    position: relative;
}
header:hover{
    padding-bottom: 31px !important;
    background-position: 375px -1px !important;
    text-indent: -9999px;
}


.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #E6E6E6 #E6E6E6 #A2A2A2;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 14px;
    height: 0;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}



button.btn.btn-primary {
    background-color: rgba(232, 232, 232, 0.5);
    background-image: -moz-radial-gradient(center center , circle farthest-corner, rgba(232, 232, 232, 0.5), #C9C9C9 38px);
    background-image: -webkit-radial-gradient(center center , circle farthest-corner, rgba(232, 232, 232, 0.5), #C9C9C9 38px);
    background-image: -o-radial-gradient(center center , circle farthest-corner, rgba(232, 232, 232, 0.5), #C9C9C9 38px);
    background-image: radial-gradient(center center , circle farthest-corner, rgba(232, 232, 232, 0.5), #C9C9C9 38px);
    
    border-radius: 50px 50px 50px 50px;
}
button.btn:hover {
    background-position: 0 center;
}
input.text {
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0 1px 1px rgba(48, 48, 48, 0.09) inset;
}
a {
    text-decoration: underline;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(6, 36, 112, 0.69);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 30, 162, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 30, 162, 0.6);
          
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(5, 42, 160, 0.6);
}


/*NOTICE*
====
====


width: 15em;
text-align: center;
font-size: 1em;
min-height: 1.2em;
margin: 0 auto;
background-color: grey;
}
===
/*



/*
===
===
ICON STUFF
===
===
*/


[class^="icon-"], [class*=" icon-"] {
display: inline-block;
width: 35px;
height: 34px;
margin-top: 1px;
line-height: 14px;
vertical-align: text-top;
background-image: url("../img/social.png");
background-position: 14px 14px;
background-repeat: no-repeat;
}

.icon-twitter {
background-position: 0px 0px;
}
.icon-facebook {
background-position: -42px 0px;
}
.icon-vkontakte {
background-position: -83px 0px;
}
.icon-gplus {
background-position: -127px 0px;
}

/*
MEDIA
*/
@media only screen and (min-width: 1px) and (max-width: 764px) {
  /* line 56, ../sass/style.scss */
  body{
 -webkit-animation: none;
    animation: none;
    background-image:none;
  }
  span.title{
    font-size: 30px;
  }
    section#box {
    top: -80px;
    }
   .btn-primary {
    background-color: #C9C9C9;
   }
}

/*END*/








@-webkit-keyframes human {
  /* line 449, ../sass/style.scss */
  0%,100% {
    -webkit-transform: translateY(10px) translateX(0px);
  }

  /* line 452, ../sass/style.scss */
  25% {
    -webkit-transform: translateY(-8px) translateX(0px);
  }

  /* line 455, ../sass/style.scss */
  50% {
    -webkit-transform: translateY(7px) translateX(0px);
  }

  /* line 458, ../sass/style.scss */
  75% {
    -webkit-transform: translateY(-8px) translateX(0px);
  }
}

@keyframes human {
  /* line 465, ../sass/style.scss */
  0%,100% {
    transform: translateY(10px) translateX(0px);
  }

  /* line 468, ../sass/style.scss */
  25% {
    transform: translateY(-8px) translateX(0px);
  }

  /* line 471, ../sass/style.scss */
  50% {
    transform: translateY(7px) translateX(0px);
  }

  /* line 474, ../sass/style.scss */
  75% {
    transform: translateY(-8px) translateX(0px);
  }
}